@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");


:root{
   --plano-de-fundo:#EBECEE;
   --cor-cabecalho:#ffffff;
   --cor-texto:#ffffff;
   --titulo-cabecalho:#EB9B00;
    --cor-degrade: linear-gradient( #361E50 , #8D1372 160%);
  --texto-secundario: #361E50;
  --cor-secundario: #8d1372;
}


body{
    background-color: var(--plano-de-fundo);
}