@import url("./styles/header.css");
@import url("./styles/banner.css");


:root{
   --plano-de-fundo:#EBECEE;
   --cor-cabecalho:#ffffff;
   --cor-texto:#ffffff;
   --titulo-cabecalho:#EB9B00;
   --azul-degrade: linear-gradient(#4c1c59,#8d1473);
}


body{
    background-color: var(--plano-de-fundo);
}